body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  /* Para não estourar o container. */
}

.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide li {
  width: 80vw;
  max-width: 800px;
  flex-shrink: 0;
  margin: 0 20px;
}